<!-- START COUNTER UP -->
<section class="counterup">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="countr">
          <i class="fa fa-home stat-icon" aria-hidden="true"></i>
          <div class="count-me">
            <h3 class="stats-top-text">Over</h3>
            <br>
            <p class="counter text-left">1000</p>
            <h3>Houses Sold</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="countr">
          <i class="fa fa-list stat-icon" aria-hidden="true"></i>
          <div class="count-me">
            <h3 class="stats-top-text">Over</h3>
            <br>
            <p class="counter text-left">50</p>
            <h3>Listings Daily</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="countr mb-0">
          <i class="fa fa-users stat-icon" aria-hidden="true"></i>
          <div class="count-me">
            <h3 class="stats-top-text">Over</h3>
            <br>
            <p class="counter text-left">500</p>
            <h3>Expert Agents</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END COUNTER UP -->
