

<!-- START FOOTER -->
<footer class="first-footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="netabout">
            <a href="/" class="logo">
              <img src="images/logo.png" alt="houses sold easily logo">
            </a>
            <p>For the last five years we've been providing one of the easiest ways to sell a house FAST. Please get in touch if you have a property you want sold.</p>
            <a href="/" class="btn btn-secondary">Learn More</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="navigation">
            <h3>Navigation</h3>
            <div class="nav-footer">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/getoffer">Get An Offer</a></li>
                <li><a href="/">Learn More</a></li>
                <li><a href="/">FAQ</a></li>
                <li class="no-mgb"><a href="/">Blog</a></li>
              </ul>
              <ul class="nav-right">
                <li><a href="/">Testimonials</a></li>
                <li><a href="/">Locations</a></li>
                <li><a href="/">Disclaimer</a></li>
                <li><a href="/">Press</a></li>
                <li class="no-mgb"><a href="/">Support</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="widget">
            <h3>Social Feeds</h3>
            <div class="twitter-widget contuct">
              <div class="twitter-area">
                <div class="single-item">
                  <div class="icon-holder">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </div>
                  <div class="text">
                    <h5><a href="#">@HousesSoldEasily</a> Lorem Ipsum.</h5>
                    <h4>about 7 days ago</h4>
                  </div>
                </div>
                <div class="single-item">
                  <div class="icon-holder">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </div>
                  <div class="text">
                    <h5><a href="#">@HousesSoldEasily</a> Lorem Ipsum.</h5>
                    <h4>about 7 days ago</h4>
                  </div>
                </div>
                <div class="single-item">
                  <div class="icon-holder">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </div>
                  <div class="text">
                    <h5><a href="#">@HousesSoldEasily</a> Lorem Ipsum.</h5>
                    <h4>about 7 days ago</h4>
                  </div>
                </div>
                <div class="single-item">
                  <div class="icon-holder">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </div>
                  <div class="text">
                    <h5><a href="#">@HousesSoldEasily</a> Lorem Ipsum.</h5>
                    <h4>about 11 days ago</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="contactus">
            <h3>Contact Us</h3>
            <ul>
              <a href="/">
                <li>
                  <div class="info">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p class="in-p">Call Us</p>
                  </div>
                </li>
              </a>
              <a href="/">
                <li>
                  <div class="info">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p class="in-p ti">Email Us</p>
                  </div>
                </li>
              </a>
              <a href="https://tawk.to/chat/5c0c8af367f72462651fb015/default">
                <li>
                  <div class="info">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <p class="in-p ti">Live Chat</p>
                  </div>
                </li>
              </a>
            </ul>
          </div>
          <ul class="netsocials">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- END FOOTER -->

<!-- START PRELOADER -->
<!-- <div id="preloader">
  <div id="status">
    <div class="status-mes"></div>
  </div>
</div> -->
<!-- END PRELOADER -->

</body>

<!-- ARCHIVES JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/transition.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/fitvids.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/lightcase.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/ajaxchimp.min.js"></script>
<script src="/js/newsletter.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/forms-2.js"></script>
<script src="/js/color-switcher.js"></script>
<!-- Slider Revolution scripts -->
<script src="/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/revolution/js/extensions/revolution.extension.video.min.js"></script>

<script>
var tpj = jQuery;
var revapi34;
if (tpj("#rev_slider_home").revolution === undefined) {
revslider_showDoubleJqueryError("#rev_slider_home");
} else {
revapi34 = tpj("#rev_slider_home").show().revolution({
  sliderType: "standard",
  jsFileLocation: "js/revolution-slider/js/",
  sliderLayout: "fullwidth",
  dottedOverlay: "none",
  delay: 9000,
  navigation: {
    keyboardNavigation: "on",
    keyboard_direction: "horizontal",
    mouseScrollNavigation: "off",
    onHoverStop: "on",
    touch: {
      touchenabled: "on",
      swipe_threshold: 75,
      swipe_min_touches: 1,
      swipe_direction: "horizontal",
      drag_block_vertical: false
    },
    arrows: {
      style: "zeus",
      enable: true,
      hide_onmobile: true,
      hide_under: 600,
      hide_onleave: true,
      hide_delay: 200,
      hide_delay_mobile: 1200,
      tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
      left: {
        h_align: "left",
        v_align: "center",
        h_offset: 30,
        v_offset: 0
      },
      right: {
        h_align: "right",
        v_align: "center",
        h_offset: 30,
        v_offset: 0
      }
    },
    bullets: {
      enable: false,
      hide_onmobile: true,
      hide_under: 600,
      style: "metis",
      hide_onleave: true,
      hide_delay: 200,
      hide_delay_mobile: 1200,
      direction: "horizontal",
      h_align: "center",
      v_align: "bottom",
      h_offset: 0,
      v_offset: 30,
      space: 5,
      tmp: '<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>'
    }
  },
  viewPort: {
    enable: true,
    outof: "pause",
    visible_area: "80%"
  },
  responsiveLevels: [1240, 1024, 778, 480],
  gridwidth: [1240, 1024, 778, 480],
  gridheight: [600, 550, 500, 450],
  lazyType: "none",
  parallax: {
    type: "scroll",
    origo: "enterpoint",
    speed: 400,
    levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
  },
  shadow: 0,
  spinner: "off",
  stopLoop: "off",
  stopAfterLoops: -1,
  stopAtSlide: -1,
  shuffle: "off",
  autoHeight: "off",
  hideThumbsOnMobile: "off",
  hideSliderAtLimit: 0,
  hideCaptionAtLimit: 0,
  hideAllCaptionAtLilmit: 0,
  debugMode: false,
  fallbacks: {
    simplifyAll: "off",
    nextSlideOnWindowFocus: "off",
    disableFocusListener: false,
  }
});
}
</script>

<!-- MAIN JS -->
<script src="/js/script.js"></script>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c0c8af367f72462651fb015/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</html>
