<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Tag Manager -->
	<script>
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MXCNZV4');
</script>
<!-- End Google Tag Manager -->

<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
(function() {
	window.__insp = window.__insp || [];
	__insp.push(['wid', 714810579]);
	var ldinsp = function(){
		if(typeof window.__inspld != "undefined") return;
		window.__inspld = 1;
		var insp = document.createElement('script');
		insp.type = 'text/javascript';
		insp.async = true;
		insp.id = "inspsync";
		insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=714810579&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
		setTimeout(ldinsp, 0);
	})();
</script>
<!-- End Inspectlet Asynchronous Code -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="template">
<meta name="author" content="">
<title>Houses Sold Easily - Get an offer in 24 hours or less!</title>
<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/jquery-ui.css">
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
<!-- FONT AWESOME -->
<link rel="stylesheet" href="/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<!-- Slider Revolution CSS Files -->
<link rel="stylesheet" href="/revolution/css/settings.css">
<link rel="stylesheet" href="/revolution/css/layers.css">
<link rel="stylesheet" href="/revolution/css/navigation.css">
<!-- ARCHIVES CSS -->
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/lightcase.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" id="color" href="/css/default.css">

</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns?id=GTM-MXCNZV4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- START SECTION HEADINGS -->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="top-info hidden-sm-down">
					<div class="call-header">
						<p><i class="fa fa-phone" aria-hidden="true"></i> +1 (786) 496-0562</p>
					</div>
					<div class="mail-header">
						<p><i class="fa fa-envelope" aria-hidden="true"></i> support@housessoldeasily.com</p>
					</div>
					<div class="social-icons-header">
						<div class="social-icons">
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="top-social hidden-sm-down">
					<div class="login-wrap">
						<ul class="d-flex">
							<li><a href="/login"><i class="fa fa-user"></i> Login</a></li>
							<li><a href="/signup"><i class="fa fa-sign-in"></i> Sign Up</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="header-bottom heading sticky-header" id="heading">
			<div class="container">
				<a href="/index" class="logo">
					<img src="https://i.imgur.com/CPGnvEY.png" alt="logo">
				</a>
				<button type="button" class="search-button" data-toggle="collapse" data-target="#bloq-search" aria-expanded="false">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
				<div class="get-quote hidden-lg-down">
					<a href="/submit-property">
						<p>Sell Your House</p>
					</a>
				</div>
				<button type="button" class="button-menu hidden-lg-up" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</button>
				<form action="#" id="bloq-search" class="collapse">
					<div class="bloq-search">
						<input type="text" placeholder="search...">
						<input type="submit" value="Search">
					</div>
				</form>
				<nav id="main-menu" class="collapse">
					<ul>
						<!-- STAR COLLAPSE MOBILE MENU -->
						<li class="hidden-lg-up">
							<div class="po">
								<a data-toggle="collapse" href="#home" aria-expanded="false">Home</a>
							</div>
							<div class="collapse" id="home">
								<div class="card card-block">
									<a class="dropdown-item" href="/index">Home Map</a>
									<a class="dropdown-item" href="/index-2">Home Image</a>
									<a class="dropdown-item" href="/index-3">Home Video</a>
									<a class="dropdown-item" href="/index-4">Home Slider</a>
									<a class="dropdown-item" href="/index-5">Horizontal Search</a>
									<a class="dropdown-item" href="/index-6">Parallax Image</a>
									<a class="dropdown-item" href="/index-7">Home 3D Video</a>
									<a class="dropdown-item" href="/index-8">Home Full Slider</a>
								</div>
							</div>
						</li>
						<!-- END COLLAPSE MOBILE MENU -->
						<li class="dropdown hidden-md-down">
							<a class="active dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Home</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/index">Home Map</a>
								<a class="dropdown-item" href="/index-2">Home Image</a>
								<a class="dropdown-item" href="/index-3">Home Video</a>
								<a class="dropdown-item" href="/index-4">Home Slider</a>
								<a class="dropdown-item" href="/index-5">Horizontal Search</a>
								<a class="dropdown-item" href="/index-6">Parallax Image</a>
								<a class="dropdown-item" href="/index-7">Home 3D Video</a>
								<a class="dropdown-item" href="/index-8">Home Full Slider</a>
							</div>
						</li>
						<!-- STAR COLLAPSE MOBILE MENU -->
						<li class="hidden-lg-up">
							<div class="po">
								<a data-toggle="collapse" href="#listing" aria-expanded="false">Properties</a>
							</div>
							<div class="collapse" id="listing">
								<div class="card card-block">
									<a class="dropdown-item" href="/properties-full-list">Full List</a>
									<a class="dropdown-item" href="/properties-list-right-sidebar">List Right Sidebar </a>
									<a class="dropdown-item" href="/properties-full-grid">Full Grid</a>
									<a class="dropdown-item" href="/properties-grid-right-sidebar">Grid Right Sidebar</a>
									<a class="dropdown-item" href="/properties-half-map">Half Map</a>
									<a class="dropdown-item" href="/properties-map">Listing With Map</a>
									<a class="dropdown-item" href="/properties-details">Property Details</a>
								</div>
							</div>
						</li>
						<!-- END COLLAPSE MOBILE MENU -->
						<li class="dropdown hidden-md-down">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Properties</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/properties-full-list">Full List</a>
								<a class="dropdown-item" href="/properties-list-right-sidebar">List Right Sidebar </a>
								<a class="dropdown-item" href="/properties-full-grid">Full Grid</a>
								<a class="dropdown-item" href="/properties-grid-right-sidebar">Grid Right Sidebar</a>
								<a class="dropdown-item" href="/properties-half-map">Half Map</a>
								<a class="dropdown-item" href="/properties-map">Listing With Map</a>
								<a class="dropdown-item" href="/properties-details">Property Details</a>
							</div>
						</li>
						<!-- STAR COLLAPSE MOBILE MENU -->
						<li class="hidden-lg-up">
							<div class="po">
								<a data-toggle="collapse" href="#services" aria-expanded="false">Agents</a>
							</div>
							<div class="collapse" id="services">
								<div class="card card-block">
									<a class="dropdown-item" href="/agents-listing-grid">Agents Listing Grid</a>
									<a class="dropdown-item" href="/agents-listing-row">Agents Listing Row</a>
									<a class="dropdown-item" href="/agent-details">Agent Details</a>
								</div>
							</div>
						</li>
						<!-- END COLLAPSE MOBILE MENU -->
						<li class="dropdown hidden-md-down">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Agents</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/agents-listing-grid">Agents Listing Grid</a>
								<a class="dropdown-item" href="/agents-listing-row">Agents Listing Row</a>
								<a class="dropdown-item" href="/agent-details">Agent Details</a>
							</div>
						</li>
						<!-- STAR COLLAPSE MOBILE MENU -->
						<li class="hidden-lg-up">
							<div class="po">
								<a data-toggle="collapse" href="#about" aria-expanded="false">Pages</a>
							</div>
							<div class="collapse" id="about">
								<div class="card card-block">
									<a class="dropdown-item" href="/about">About Us</a>
									<a class="dropdown-item" href="/faq">Faq</a>
									<a class="dropdown-item" href="/pricing-table">Pricing</a>
									<a class="dropdown-item" href="/404">404</a>
									<a class="dropdown-item" href="/login">Login</a>
									<a class="dropdown-item" href="/register">Register</a>
									<a class="dropdown-item" href="/coming-soon">Coming Soon</a>
									<a class="dropdown-item" href="/under-construction">Under Construction</a>
								</div>
							</div>
						</li>
						<!-- END COLLAPSE MOBILE MENU -->
						<li class="dropdown hidden-md-down">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Pages</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/about">About Us</a>
								<a class="dropdown-item" href="/faq">Faq</a>
								<a class="dropdown-item" href="/pricing-table">Pricing</a>
								<a class="dropdown-item" href="/404">404</a>
								<a class="dropdown-item" href="/login">Login</a>
								<a class="dropdown-item" href="/register">Register</a>
								<a class="dropdown-item" href="/coming-soon">Coming Soon</a>
								<a class="dropdown-item" href="/under-construction">Under Construction</a>
							</div>
						</li>
						<!-- STAR COLLAPSE MOBILE MENU -->
						<li class="hidden-lg-up">
							<div class="po">
								<a data-toggle="collapse" href="#blog" aria-expanded="false">Blog</a>
							</div>
							<div class="collapse" id="blog">
								<div class="card card-block">
									<a class="dropdown-item" href="/blog">Blog Default</a>
									<a class="dropdown-item" href="/blog-rightsidebar">Blog Right Sidebar</a>
									<a class="dropdown-item" href="/blog-details">Blog Details</a>
								</div>
							</div>
						</li>
						<!-- END COLLAPSE MOBILE MENU -->
						<li class="dropdown hidden-md-down">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Blog</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/blog">Blog Default</a>
								<a class="dropdown-item" href="/blog-rightsidebar">Blog Right Sidebar</a>
								<a class="dropdown-item" href="/blog-details">Blog Details</a>
							</div>
						</li>
						<li><a href="/contact-us">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
