<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Tag Manager -->
	<script>
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MXCNZV4');
</script>
<!-- End Google Tag Manager -->

<title>Houses Sold Easily - Get an offer on your house in 24 hours!</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="en-us">
<meta name="google" value="notranslate">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
<!-- <meta property="fb:app_id" content="496534930523733"> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="cleartype" content="on">
<meta name="HandheldFriendly" content="true">
<meta name="description" content="Receive a cash offer on your house in as little as 24 hours.">
<meta property="og:title" content="Houses Sold Easily">
<meta property="og:url" content="https://housessoldeasily.com/">
<meta property="og:description" content="Receive a cash offer on your house in as little as 24 hours.">
<!-- <meta property="og:image" content="https://nomadlist.com/assets/media-2018.png?3?1545669788"> -->
<meta property="og:site_name" content="Houses Sold Easily">
<meta property="og:type" content="website">
<meta name="google-site-verification" content="Ru4V3HQ9CsILYH4UAQZ0rGZVGXNyFjbaYE6LsHFd4z8" />
<meta name="author" content="">
<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/jquery-ui.css">
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
<!-- FONT AWESOME -->
<link rel="stylesheet" href="/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<!-- Slider Revolution CSS Files -->
<link rel="stylesheet" href="/revolution/css/settings.css">
<link rel="stylesheet" href="/revolution/css/layers.css">
<link rel="stylesheet" href="/revolution/css/navigation.css">
<!-- ARCHIVES CSS -->
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/lightcase.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" id="color" href="/css/default.css">
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns?id=GTM-MXCNZV4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- START SECTION HEADINGS -->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="top-info hidden-sm-down">
					<div class="call-header">
						<a href="tel:+17864960562">
							<p><i class="fa fa-phone" aria-hidden="true"></i>Call Us</p>
						</a>
					</div>
					<div class="mail-header">
						<a href="mailto:support@housessoldeasily.com">
							<p><i class="fa fa-envelope" aria-hidden="true"></i>Email Us</p>
						</a>
					</div>
					<div class="mail-header">
						<a href="https://tawk.to/chat/5c0c8af367f72462651fb015/default">
							<p><i class="fa fa-comments" aria-hidden="true"></i>Live Chat</p>
						</a>
					</div>
					<div class="social-icons-header">
						<div class="social-icons">
							<a href="https://twitter.com/housessoldeasily"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="https://facebook.com/housessoldeasily"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="top-social hidden-sm-down">
					<div class="login-wrap">
						<ul class="d-flex">
							<li><a href="/login"><i class="fa fa-user"></i> Login</a></li>
							<li><a href="/signup"><i class="fa fa-sign-in"></i> Sign Up</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="header-bottom heading sticky-header" id="heading">
			<div class="container">
				<a href="/" class="logo">
					<img src="https://s3.us-east-2.amazonaws.com/housessoldeasily.com/logo.png" alt="houses sold easily logo">
				</a>
				<button type="button" class="button-menu hidden-lg-up" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</button>
				<form action="#" id="bloq-search" class="collapse">
					<div class="bloq-search">
						<input type="text" placeholder="search...">
						<input type="submit" value="Search">
					</div>
				</form>
				<nav id="main-menu" class="collapse">
					<ul>
						<li><a href="/">How It Works</a></li>
						<li><a href="/">FAQ</a></li>
						<li><a href="/">Support</a></li>
						<li><a href="/">Blog</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
