<!-- START NEWSLETTER -->
<section class="subscribe">
  <div class="realhome_subscribe">
    <div class="realhome container">
      <h2>Subscribe To Our Newsletter</h2>
      <div class="row align-center">
        <div class="col-lg-6 col-md-6">
          <form action="/leads/newsletter-signup" method="post" class="realhome_form_subscribe form-inline">
            <input type="email" name="email" class="form_email" placeholder="Enter Your Email">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END NEWSLETTER -->
