
<!-- START OFFER FORM -->
<section class="main-search-field">
  <div class="container">
    <h1 id="form-header">Fill out this form to get an offer in 24 hours.</h1>
    <form action="/leads/new" method="POST">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <div class="at-col-default-mar">
              <input class="form-control" type="text" name="email" id="email" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="form-control" type="text" name="streetAddress" id="streetAddress" placeholder="Street Address">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="form-control" type="text" name="city" id="city" placeholder="City">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <div class="at-col-default-mar">
              <input class="form-control" type="text" name="state" id="state" placeholder="State">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="form-control" type="text" name="zipCode" id="zipCode" placeholder="Zip Code">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 b-search__main-form label">
          <input type="text" disabled class="slider_amount m-t-lg-30 m-t-xs-0 m-t-sm-10">
          <div class="slider-range"></div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar no-mb">
            <button class="btn btn-default hvr-bounce-to-right" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <!-- END OFFER FORM -->
