<!-- STAR PARTNERS -->
<div class="partners">
  <div class="container">
    <div class="section-title">
      <h2>Partners We Work With</h2>
    </div>
    <div class="owl-carousel style2">
      <div class="owl-item"><img src="/images/partners/1.png" alt="partner logo one"></div>
      <div class="owl-item"><img src="/images/partners/2.png" alt="partner logo two"></div>
      <div class="owl-item"><img src="/images/partners/3.png" alt="partner logo three"></div>
      <div class="owl-item"><img src="/images/partners/4.png" alt="partner logo four"></div>
      <div class="owl-item"><img src="/images/partners/5.png" alt="partner logo five"></div>
      <div class="owl-item"><img src="/images/partners/6.png" alt="partner logo six"></div>
      <div class="owl-item"><img src="/images/partners/7.png" alt="partner logo seven"></div>
      <div class="owl-item"><img src="/images/partners/8.png" alt="partner logo eight"></div>
      <div class="owl-item"><img src="/images/partners/9.png" alt="partner logo nine"></div>
      <div class="owl-item"><img src="/images/partners/10.png" alt="partner logo ten"></div>
    </div>
  </div>
</div>
<!-- END PARTNERS -->
