

<!-- START TESTIMONIALS -->
<section class="testimonials">
  <div class="container">
    <div class="section-title col-md-5">
      <h2>What Previous Customers</h2>
      <h3>Have Said</h3>
    </div>
    <div class="owl-carousel style1">
      <div class="test-1">
        <h3>Lisa S.</h3>
        <img src="/images/testimonials/ts-1.jpg" alt="testimonial profile picture one">
        <h6 class="mt-2">New York</h6>
        <ul class="starts text-center mb-2">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <p>I received cash for my house in less than a week.</p>
      </div>
      <div class="test-1">
        <h3>John M.</h3>
        <img src="/images/testimonials/ts-2.jpg" alt="testimonial profile picture two">
        <h6 class="mt-2">Los Angeles</h6>
        <ul class="starts text-center mb-2">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <p>My house sat on the market for months. HousesSoldEasily had it gone in a couple of days.</p>
      </div>
      <div class="test-1">
        <h3>Mary D.</h3>
        <img src="/images/testimonials/ts-3.jpg" alt="testimonial profile picture three">
        <h6 class="mt-2">Chicago</h6>
        <ul class="starts text-center mb-2">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <p>They bought my house as in. I didn't need to make a single repair.</p>
      </div>
      <div class="test-1">
        <h3>Gary S.</h3>
        <img src="/images/testimonials/ts-4.jpg" alt="testimonial profile picture four">
        <h6 class="mt-2">Philadelphia</h6>
        <ul class="starts text-center mb-2">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <p>The whole transaction went way smoother than I had expected. I thought selling your house was supposed to be hard?</p>
      </div>
    </div>
  </div>
</section>
<!-- END TESTIMONIALS -->
