<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Tag Manager -->
	<script>
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MXCNZV4');
</script>
<!-- End Google Tag Manager -->

<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
(function() {
	window.__insp = window.__insp || [];
	__insp.push(['wid', 714810579]);
	var ldinsp = function(){
		if(typeof window.__inspld != "undefined") return;
		window.__inspld = 1;
		var insp = document.createElement('script');
		insp.type = 'text/javascript';
		insp.async = true;
		insp.id = "inspsync";
		insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=714810579&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
		setTimeout(ldinsp, 0);
	})();
</script>
<!-- End Inspectlet Asynchronous Code -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="html 5 template">
<meta name="author" content="">
<title>Houses Sold Easily - Get an offer in 24 hours or less!</title>
<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/jquery-ui.css">
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
<!-- FONT AWESOME -->
<link rel="stylesheet" href="/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<!-- Slider Revolution CSS Files -->
<link rel="stylesheet" href="/revolution/css/settings.css">
<link rel="stylesheet" href="/revolution/css/layers.css">
<link rel="stylesheet" href="/revolution/css/navigation.css">
<!-- ARCHIVES CSS -->
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/lightcase.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" id="color" href="/css/default.css">

</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXCNZV4"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- START SECTION HEADINGS -->
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="top-info hidden-sm-down">
						<div class="call-header">
							<p><i class="fa fa-phone" aria-hidden="true"></i> +1 (786) 496-0562</p>
						</div>
						<div class="mail-header">
							<p><i class="fa fa-envelope" aria-hidden="true"></i> support@housessoldeasily.com</p>
						</div>
					</div>
					<div class="top-social hidden-sm-down">
						<div class="login-wrap">
							<ul class="d-flex">
								<li><a href="/login.html"><i class="fa fa-user"></i> Login</a></li>
								<li><a href="/register.html"><i class="fa fa-sign-in"></i> Register</a></li>
							</ul>
						</div>
						<div class="social-icons-header">
							<div class="social-icons">
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bottom heading sticky-header" id="heading">
				<div class="container">
					<a href="/index.html" class="logo">
						<img src="https://i.imgur.com/CPGnvEY.png" alt="logo">
					</a>
					<button type="button" class="search-button" data-toggle="collapse" data-target="#bloq-search" aria-expanded="false">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
					<div class="get-quote hidden-lg-down">
						<a href="/submit-property.html">
							<p>Sell Your Property</p>
						</a>
					</div>
					<button type="button" class="button-menu hidden-lg-up" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
					<form action="#" id="bloq-search" class="collapse">
						<div class="bloq-search">
							<input type="text" placeholder="search...">
							<input type="submit" value="Search">
						</div>
					</form>
					<nav id="main-menu" class="collapse">
						<ul>
							<!-- STAR COLLAPSE MOBILE MENU -->
							<li class="hidden-lg-up">
								<div class="po">
									<a data-toggle="collapse" href="#home" aria-expanded="false">Home</a>
								</div>
								<div class="collapse" id="home">
									<div class="card card-block">
										<a class="dropdown-item" href="/index.html">Home Map</a>
										<a class="dropdown-item" href="/index-2.html">Home Image</a>
										<a class="dropdown-item" href="/index-3.html">Home Video</a>
										<a class="dropdown-item" href="/index-4.html">Home Slider</a>
										<a class="dropdown-item" href="/index-5.html">Horizontal Search</a>
										<a class="dropdown-item" href="/index-6.html">Parallax Image</a>
										<a class="dropdown-item" href="/index-7.html">Home 3D Video</a>
										<a class="dropdown-item" href="/index-8.html">Home Full Slider</a>
									</div>
								</div>
							</li>
							<!-- END COLLAPSE MOBILE MENU -->
							<li class="dropdown hidden-md-down">
								<a class="active dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Home</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/index.html">Home Map</a>
									<a class="dropdown-item" href="/index-2.html">Home Image</a>
									<a class="dropdown-item" href="/index-3.html">Home Video</a>
									<a class="dropdown-item" href="/index-4.html">Home Slider</a>
									<a class="dropdown-item" href="/index-5.html">Horizontal Search</a>
									<a class="dropdown-item" href="/index-6.html">Parallax Image</a>
									<a class="dropdown-item" href="/index-7.html">Home 3D Video</a>
									<a class="dropdown-item" href="/index-8.html">Home Full Slider</a>
								</div>
							</li>
							<!-- STAR COLLAPSE MOBILE MENU -->
							<li class="hidden-lg-up">
								<div class="po">
									<a data-toggle="collapse" href="#listing" aria-expanded="false">Properties</a>
								</div>
								<div class="collapse" id="listing">
									<div class="card card-block">
										<a class="dropdown-item" href="/properties-full-list.html">Full List</a>
										<a class="dropdown-item" href="/properties-list-right-sidebar.html">List Right Sidebar </a>
										<a class="dropdown-item" href="/properties-full-grid.html">Full Grid</a>
										<a class="dropdown-item" href="/properties-grid-right-sidebar.html">Grid Right Sidebar</a>
										<a class="dropdown-item" href="/properties-half-map.html">Half Map</a>
										<a class="dropdown-item" href="/properties-map.html">Listing With Map</a>
										<a class="dropdown-item" href="/properties-details.html">Property Details</a>
									</div>
								</div>
							</li>
							<!-- END COLLAPSE MOBILE MENU -->
							<li class="dropdown hidden-md-down">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Properties</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/properties-full-list.html">Full List</a>
									<a class="dropdown-item" href="/properties-list-right-sidebar.html">List Right Sidebar </a>
									<a class="dropdown-item" href="/properties-full-grid.html">Full Grid</a>
									<a class="dropdown-item" href="/properties-grid-right-sidebar.html">Grid Right Sidebar</a>
									<a class="dropdown-item" href="/properties-half-map.html">Half Map</a>
									<a class="dropdown-item" href="/properties-map.html">Listing With Map</a>
									<a class="dropdown-item" href="/properties-details.html">Property Details</a>
								</div>
							</li>
							<!-- STAR COLLAPSE MOBILE MENU -->
							<li class="hidden-lg-up">
								<div class="po">
									<a data-toggle="collapse" href="#services" aria-expanded="false">Agents</a>
								</div>
								<div class="collapse" id="services">
									<div class="card card-block">
										<a class="dropdown-item" href="/agents-listing-grid.html">Agents Listing Grid</a>
										<a class="dropdown-item" href="/agents-listing-row.html">Agents Listing Row</a>
										<a class="dropdown-item" href="/agent-details.html">Agent Details</a>
									</div>
								</div>
							</li>
							<!-- END COLLAPSE MOBILE MENU -->
							<li class="dropdown hidden-md-down">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Agents</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/agents-listing-grid.html">Agents Listing Grid</a>
									<a class="dropdown-item" href="/agents-listing-row.html">Agents Listing Row</a>
									<a class="dropdown-item" href="/agent-details.html">Agent Details</a>
								</div>
							</li>
							<!-- STAR COLLAPSE MOBILE MENU -->
							<li class="hidden-lg-up">
								<div class="po">
									<a data-toggle="collapse" href="#about" aria-expanded="false">Pages</a>
								</div>
								<div class="collapse" id="about">
									<div class="card card-block">
										<a class="dropdown-item" href="/about.html">About Us</a>
										<a class="dropdown-item" href="/faq.html">Faq</a>
										<a class="dropdown-item" href="/pricing-table.html">Pricing</a>
										<a class="dropdown-item" href="/404.html">404</a>
										<a class="dropdown-item" href="/login.html">Login</a>
										<a class="dropdown-item" href="/register.html">Register</a>
										<a class="dropdown-item" href="/coming-soon.html">Coming Soon</a>
										<a class="dropdown-item" href="/under-construction.html">Under Construction</a>
									</div>
								</div>
							</li>
							<!-- END COLLAPSE MOBILE MENU -->
							<li class="dropdown hidden-md-down">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Pages</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/about.html">About Us</a>
									<a class="dropdown-item" href="/faq.html">Faq</a>
									<a class="dropdown-item" href="/pricing-table.html">Pricing</a>
									<a class="dropdown-item" href="/404.html">404</a>
									<a class="dropdown-item" href="/login.html">Login</a>
									<a class="dropdown-item" href="/register.html">Register</a>
									<a class="dropdown-item" href="/coming-soon.html">Coming Soon</a>
									<a class="dropdown-item" href="/under-construction.html">Under Construction</a>
								</div>
							</li>
							<!-- STAR COLLAPSE MOBILE MENU -->
							<li class="hidden-lg-up">
								<div class="po">
									<a data-toggle="collapse" href="#blog" aria-expanded="false">Blog</a>
								</div>
								<div class="collapse" id="blog">
									<div class="card card-block">
										<a class="dropdown-item" href="/blog.html">Blog Default</a>
										<a class="dropdown-item" href="/blog-rightsidebar.html">Blog Right Sidebar</a>
										<a class="dropdown-item" href="/blog-details.html">Blog Details</a>
									</div>
								</div>
							</li>
							<!-- END COLLAPSE MOBILE MENU -->
							<li class="dropdown hidden-md-down">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Blog</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/blog.html">Blog Default</a>
									<a class="dropdown-item" href="/blog-rightsidebar.html">Blog Right Sidebar</a>
									<a class="dropdown-item" href="/blog-details.html">Blog Details</a>
								</div>
							</li>
							<li><a href="/contact-us.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- START SLIDER -->

		<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
		<div id="rev_slider_home_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery34" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
			<div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
				<ul>
					<!-- SLIDE 1 -->
					<li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/images/slider/slider-1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
						<!-- MAIN IMAGE -->
						<img src="/images/slider/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['56','46','40','36']" data-lineheight="['70','60','50','45']" data-fontweight="['800','700','700','700']" data-width="['700','650','600','420']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="margin-top: 100px; z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">We make <span class="text-theme-colored2"></span><span class="text-theme-colored2">selling your house </span> easy.
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0 font-p" id="slide-1-layer-3" data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']" data-voffset="['280','220','180','180']" data-fontsize="['18','18','16','13']" data-lineheight="['30','30','28','25']" data-fontweight="['600','600','600','600']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="margin-top: 100px; z-index: 7; white-space: nowrap;">We provides always our best services for our clients and always
							<br> try to achieve our client's trust and satisfaction.
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-4" data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" data-y="['top','top','top','top']" data-voffset="['360','290','260','260']" data-fontsize="['18','18','16','16']" data-lineheight="['30','30','30','30']" data-fontweight="['600','600','600','600']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="margin-top: 100px; z-index: 7; white-space: nowrap;"><a href="#" class="btn btn-default btn-theme-colored2 btn-xl">Read More</a> <a href="#" class="btn btn-dark btn-theme-colored btn-xl">Contact Us</a>
						</div>
					</li>
				</ul>
				<!-- <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: #0098ef;"></div> -->
			</div>
		</div>
		<!-- END REVOLUTION SLIDER -->

		<!-- START SECTION SEARCH AREA -->
		<section class="main-search-field">
			<div class="container">
				<h3><center>Fill out the form to get an offer in 24 hours.</center></h3>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<input type="text" name="" value="" placeholder="First Name">
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<input type="text" name="" value="" placeholder="Last Name">
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<div class="at-col-default-mar">
								<input type="text" name="" value="" placeholder="Email">
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<input type="text" name="" value="" placeholder="Phone Number">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<input type="text" name="" value="" placeholder="Street Address">
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<input type="text" name="" value="" placeholder="Zip Code">
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<div class="at-col-default-mar">
								<input type="text" name="" value="" placeholder="Email">
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar">
							<input type="text" name="" value="" placeholder="Phone Number">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="at-col-default-mar no-mb">
							<select>
								<option value="0" selected>Baths</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
					<div class="col-lg-3 no-pds">
						<div class="at-col-default-mar no-mb">
							<select>
								<option value="0" selected>Baths</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>					</div>
						</div>
						<div class="col-lg-3 col-md-6 b-search__main-form label">
							<input type="text" disabled class="slider_amount m-t-lg-30 m-t-xs-0 m-t-sm-10">
							<div class="slider-range"></div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="at-col-default-mar no-mb">
								<button class="btn btn-default hvr-bounce-to-right" type="submit">Submit</button>
							</div>
						</div>
					</div>
				</section>
				<!-- END SECTION SEARCH AREA -->

				<!-- START SECTION POPULAR LOCATIONS -->
				<section class="popular-places">
					<div class="container">
						<div class="section-title">
							<h2>Locations</h2>
							<h3>We Serve</h3>
						</div>
						<div class="row">
							<div class="col-md-12">
							</div>
							<div class="col-lg-4 col-md-6">
								<!-- Image Box -->
								<a href="index.html" class="img-box">
									<img src="/images/popular-places/1.jpg" class="img-responsive" alt="">
									<div class="img-box-content visible">
										<h4>New York City </h4>
										<span>203 Properties</span>
									</div>
								</a>
							</div>
							<div class="col-lg-8 col-md-6">
								<!-- Image Box -->
								<a href="index.html" class="img-box">
									<img src="/images/popular-places/2.jpg" class="img-responsive" alt="">
									<div class="img-box-content visible">
										<h4>Los Angeles</h4>
										<span>307 Properties</span>
									</div>
								</a>
							</div>
							<div class="col-lg-8 col-md-6">
								<!-- Image Box -->
								<a href="index.html" class="img-box no-mb">
									<img src="/images/popular-places/3.jpg" class="img-responsive" alt="">
									<div class="img-box-content visible">
										<h4>San Francisco </h4>
										<span>409 Properties</span>
									</div>
								</a>
							</div>
							<div class="col-lg-4 col-md-6">
								<!-- Image Box -->
								<a href="index.html" class="img-box no-mb x3">
									<img src="/images/popular-places/4.jpg" class="img-responsive" alt="">
									<div class="img-box-content visible">
										<h4>Miami</h4>
										<span>507 Properties</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</section>
				<!-- END SECTION POPULAR PLACES -->

				<!-- START SECTION TESTIMONIALS -->
				<section class="testimonials">
					<div class="container">
						<div class="section-title col-md-5">
							<h2>Customer</h2>
							<h3>Testimonials</h3>
						</div>
						<div class="owl-carousel style1">
							<div class="test-1">
								<h3>Lisa S</h3>
								<img src="/images/testimonials/ts-1.jpg" alt="">
								<h6 class="mt-2">New York</h6>
								<ul class="starts text-center mb-2">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
							</div>
							<div class="test-1">
								<h3>John M</h3>
								<img src="/images/testimonials/ts-2.jpg" alt="">
								<h6 class="mt-2">Los Angeles</h6>
								<ul class="starts text-center mb-2">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
							</div>
							<div class="test-1">
								<h3>Mary D</h3>
								<img src="/images/testimonials/ts-3.jpg" alt="">
								<h6 class="mt-2">Chicago</h6>
								<ul class="starts text-center mb-2">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
							</div>
							<div class="test-1">
								<h3>Gary S</h3>
								<img src="/images/testimonials/ts-4.jpg" alt="">
								<h6 class="mt-2">Philadelphia</h6>
								<ul class="starts text-center mb-2">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
							</div>
							<div class="test-1">
								<h3>Cristy M</h3>
								<img src="/images/testimonials/ts-5.jpg" alt="">
								<h6 class="mt-2">San Francisco</h6>
								<ul class="starts text-center mb-2">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
							</div>
							<div class="test-1">
								<h3>Ichiro T</h3>
								<img src="/images/testimonials/ts-6.jpg" alt="">
								<h6 class="mt-2">Houston</h6>
								<ul class="starts text-center mb-2">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec.</p>
							</div>
						</div>
					</div>
				</section>
				<!-- END SECTION TESTIMONIALS -->

				<!-- START SECTION COUNTER UP -->
				<section class="counterup">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="countr">
									<i class="fa fa-home" aria-hidden="true"></i>
									<div class="count-me">
										<p class="counter text-left">5000</p>
										<h3>Sold Houses</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="countr">
									<i class="fa fa-list" aria-hidden="true"></i>
									<div class="count-me">
										<p class="counter text-left">1000</p>
										<h3>Daily Listings</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="countr mb-0">
									<i class="fa fa-users" aria-hidden="true"></i>
									<div class="count-me">
										<p class="counter text-left">500</p>
										<h3>Expert Agents</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="countr mb-0 last">
									<i class="fa fa-trophy" aria-hidden="true"></i>
									<div class="count-me">
										<p class="counter text-left">30</p>
										<h3>Won Awards</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END SECTION COUNTER UP -->

				<!-- STAR SECTION PARTNERS -->
				<div class="partners">
					<div class="container">
						<div class="section-title">
							<h2>Partners</h2>
							<h3>We Work With</h3>
						</div>
						<div class="owl-carousel style2">
							<div class="owl-item"><img src="/images/partners/1.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/2.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/3.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/4.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/5.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/6.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/7.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/8.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/9.png" alt=""></div>
							<div class="owl-item"><img src="/images/partners/10.png" alt=""></div>
						</div>
					</div>
				</div>
				<!-- END SECTION PARTNERS -->

				<!-- START SECTION NEWSLETTER -->
				<section class="subscribe">
					<div class="realhome_subscribe">
						<div class="realhome container">
							<h2>Subscribe To Our Newsletter</h2>
							<div class="row align-center">
								<div class="col-lg-6 col-md-6">
									<form class="realhome_form_subscribe mailchimp form-inline" method="post">
										<input type="email" id="subscribeEmail" name="EMAIL" class="form_email" placeholder="Enter Your Email">
										<button type="submit" value="Subscribe">Submit</button>
										<label for="subscribeEmail" class="error"></label>
										<p class="subscription-success"></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END SECTION NEWSLETTER -->

				<!-- START FOOTER -->
				<footer class="first-footer">
					<div class="top-footer">
						<div class="container">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="netabout">
										<a href="/index.html" class="logo">
											<img src="https://i.imgur.com/CPGnvEY.png" alt="netcom">
										</a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus impedit perferendis, laudantium molestiae ipsam rem veniam facere quos! Temporibus, minima culpa deleniti magnam.</p>
										<a href="/about.html" class="btn btn-secondary">Learn More</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="navigation">
										<h3>Navigation</h3>
										<div class="nav-footer">
											<ul>
												<li><a href="/index.html">Home One</a></li>
												<li><a href="index.html">Properties Right</a></li>
												<li><a href="/properties-full-list.html">Properties List</a></li>
												<li><a href="/properties-details.html">Property Details</a></li>
												<li class="no-mgb"><a href="/agents-listing-grid.html">Agents Listing</a></li>
											</ul>
											<ul class="nav-right">
												<li><a href="/agent-details.html">Agents Details</a></li>
												<li><a href="/about.html">About Us</a></li>
												<li><a href="/blog.html">Blog Default</a></li>
												<li><a href="/blog-details.html">Blog Details</a></li>
												<li class="no-mgb"><a href="/contact-us.html">Contact Us</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="widget">
										<h3>Twitter Feeds</h3>
										<div class="twitter-widget contuct">
											<div class="twitter-area">
												<div class="single-item">
													<div class="icon-holder">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</div>
													<div class="text">
														<h5><a href="#">@HousesSoldEasily</a> all share them with me baby said inspet.</h5>
														<h4>about 5 days ago</h4>
													</div>
												</div>
												<div class="single-item">
													<div class="icon-holder">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</div>
													<div class="text">
														<h5><a href="#">@HousesSoldEasily</a> all share them with me baby said inspet.</h5>
														<h4>about 5 days ago</h4>
													</div>
												</div>
												<div class="single-item">
													<div class="icon-holder">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</div>
													<div class="text">
														<h5><a href="#">@HousesSoldEasily</a> all share them with me baby said inspet.</h5>
														<h4>about 5 days ago</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="contactus">
										<h3>Contact Us</h3>
										<ul>
											<li>
												<div class="info">
													<i class="fa fa-phone" aria-hidden="true"></i>
													<p class="in-p">+1 (786) 496-0562</p>
												</div>
											</li>
											<li>
												<div class="info">
													<i class="fa fa-envelope" aria-hidden="true"></i>
													<p class="in-p ti">support@housessoldeasily.com</p>
												</div>
											</li>
										</ul>
									</div>
									<ul class="netsocials">
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</footer>
				<!-- END FOOTER -->

				<!-- START PRELOADER -->
				<div id="preloader">
					<div id="status">
						<div class="status-mes"></div>
					</div>
				</div>
				<!-- END PRELOADER -->
			</body>

			<!-- ARCHIVES JS -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery-ui.js"></script>
			<script src="/js/tether.min.js"></script>
			<script src="/js/moment.js"></script>
			<script src="/js/transition.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/fitvids.js"></script>
			<script src="/js/jquery.waypoints.min.js"></script>
			<script src="/js/jquery.counterup.min.js"></script>
			<script src="/js/imagesloaded.pkgd.min.js"></script>
			<script src="/js/isotope.pkgd.min.js"></script>
			<script src="/js/smooth-scroll.min.js"></script>
			<script src="/js/lightcase.js"></script>
			<script src="/js/owl.carousel.js"></script>
			<script src="/js/jquery.magnific-popup.min.js"></script>
			<script src="/js/ajaxchimp.min.js"></script>
			<script src="/js/newsletter.js"></script>
			<script src="/js/jquery.form.js"></script>
			<script src="/js/jquery.validate.min.js"></script>
			<script src="/js/forms-2.js"></script>
			<script src="/js/color-switcher.js"></script>
			<!-- Slider Revolution scripts -->
			<script src="/revolution/js/jquery.themepunch.tools.min.js"></script>
			<script src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
			<script src="/revolution/js/extensions/revolution.extension.video.min.js"></script>

			<script>
			var tpj = jQuery;
			var revapi34;
			if (tpj("#rev_slider_home").revolution === undefined) {
				revslider_showDoubleJqueryError("#rev_slider_home");
			} else {
				revapi34 = tpj("#rev_slider_home").show().revolution({
					sliderType: "standard",
					jsFileLocation: "js/revolution-slider/js/",
					sliderLayout: "fullwidth",
					dottedOverlay: "none",
					delay: 9000,
					navigation: {
						keyboardNavigation: "on",
						keyboard_direction: "horizontal",
						mouseScrollNavigation: "off",
						onHoverStop: "on",
						touch: {
							touchenabled: "on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "horizontal",
							drag_block_vertical: false
						},
						arrows: {
							style: "zeus",
							enable: true,
							hide_onmobile: true,
							hide_under: 600,
							hide_onleave: true,
							hide_delay: 200,
							hide_delay_mobile: 1200,
							tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
							left: {
								h_align: "left",
								v_align: "center",
								h_offset: 30,
								v_offset: 0
							},
							right: {
								h_align: "right",
								v_align: "center",
								h_offset: 30,
								v_offset: 0
							}
						},
						bullets: {
							enable: false,
							hide_onmobile: true,
							hide_under: 600,
							style: "metis",
							hide_onleave: true,
							hide_delay: 200,
							hide_delay_mobile: 1200,
							direction: "horizontal",
							h_align: "center",
							v_align: "bottom",
							h_offset: 0,
							v_offset: 30,
							space: 5,
							tmp: '<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>'
						}
					},
					viewPort: {
						enable: true,
						outof: "pause",
						visible_area: "80%"
					},
					responsiveLevels: [1240, 1024, 778, 480],
					gridwidth: [1240, 1024, 778, 480],
					gridheight: [600, 550, 500, 450],
					lazyType: "none",
					parallax: {
						type: "scroll",
						origo: "enterpoint",
						speed: 400,
						levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
					},
					shadow: 0,
					spinner: "off",
					stopLoop: "off",
					stopAfterLoops: -1,
					stopAtSlide: -1,
					shuffle: "off",
					autoHeight: "off",
					hideThumbsOnMobile: "off",
					hideSliderAtLimit: 0,
					hideCaptionAtLimit: 0,
					hideAllCaptionAtLilmit: 0,
					debugMode: false,
					fallbacks: {
						simplifyAll: "off",
						nextSlideOnWindowFocus: "off",
						disableFocusListener: false,
					}
				});
			}
			</script>

			<!-- MAIN JS -->
			<script src="/js/script.js"></script>

			<!--Start of Tawk.to Script-->
			<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
				var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
				s1.async=true;
				s1.src='https://embed.tawk.to/5c0c8af367f72462651fb015/default';
				s1.charset='UTF-8';
				s1.setAttribute('crossorigin','*');
				s0.parentNode.insertBefore(s1,s0);
			})();
			</script>
			<!--End of Tawk.to Script-->
