<% include ../partials/header %>

<h1 class="main-header">Congratulations.</h1>
<h1 class="main-header">Your house has been successfully submitted.</h1>
<h1 class="main-header">We will have someone reach out to you soon!</h1>

<% include ../partials/footer %>

<style media="screen">
  .main-header {
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 60%;
  }
  #go-home-button {
    padding: 10px;
    text-align: center;
  }
</style>
