<% include ../partials/header %>

<h1 class="main-header">Congratulations.</h1>
<h1 class="main-header">Your house has been successfully submitted.</h1>
<h1 class="main-header">We will have someone reach out to you soon!</h1>
<!-- <a href="/"><button id="go-home-button">Click here to go home.</button></a> -->
<!-- <form action="/leads" method="GET" class="form-inline" id="lead-search"></form> -->

<!--
  <div class="row text-center flex-wrap" id="lead-grid">
    <% leads.forEach(function(lead){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= lead.firstName %> <%= lead.lastName %></h4>
          </div>
          <p><a href="/leads/<%= lead._id %>" class="btn btn-primary">More Info</a></p>
        </div>
      </div>
      <% }); %>
    </div> -->

    <% include ../partials/footer %>

<style media="screen">
  .main-header {
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 60%;
  }
  #go-home-button {
    padding: 10px;
    text-align: center;
  }
</style>
